em {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

main, p, footer{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer {
    font-size:smaller;
}

#info {
    float:right;
    margin-right: 4rem;
}

img {
    
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 10rem;
    width: 7rem;
}

p a {font-variant: small-caps;}

img:hover, img:focus {border-width: .25rem; border-style:solid; border-color: #000;}