em {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main,
p,
footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer {
    font-size: smaller;
}

footer a.art-link {
    font-variant: small-caps;
    color: #8b0000;
}

img {
    margin: 3% 3%;
    height: 30%;
    width: 30%;
}

img:hover,
img:focus {
    border: .35em outset #3fa1e2
}

h1,
li {
    font-family: "Paprika", system-ui;
    font-weight: 400;
    font-style: normal;
}

li {
    padding: 1em .5em;
}

footer,
#header {
    background: linear-gradient(45deg, #b8cde3 0%, #ffffff 100%);
}

#header {
    font-size: 1.5em;
}

#info {
    padding: 5%;
    margin-right: 5%;
}

#nav_list ul {
    list-style-type: none;
    padding: 1em 0;
    text-align: center;
    /* height: 4%; */
    border-top: 2px solid #3fa1e2;
    border-bottom: 2px solid #3fa1e2;
}

#nav_list ul li {
    text-align: center;
    display: inline;
    width: 95%;
}

#nav_list ul li {
    text-align: center;
    display: inline;
    width: 95%;
}

#nav_list ul li:hover {
    background-color: #bed9eb;
}


#nav_list ul li a {
    text-decoration: none;
}

@media only screen and (min-width: 655px) {
    #nav_list ul {
        display: flex;
    }
}

/* Fix navigation menu breakpoint */
@media only screen and (max-width: 655px) {
    #nav_list ul li {
        display: block;
    }
}