/* Layout for artwork on each art page. */
main {
    margin: 1em 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5em;
}

/* Organization of title, artwork and description. */
div.art {
    padding: 1.25rem 1.25rem;
    margin: 0 1em;
    display: grid;
    grid-template-columns: repeat(1, 300px 1fr);
    grid-template-rows: repeat(1, 75px 1fr);
    grid-template-areas:
        "art-h1 art-h1"
        "art-img art-p";
}

img {
    width: 80%;
    float: left;
    padding: 1.25em .5em 0 0;
}

p {
    float: right;
}

/* Overall section of artwork: title, image, and description. */
.art {
    background-color: #f2c986;
    flex-basis: 45%;
}

/* Title of artwork. */
.art h1 {
    white-space: nowrap;
    grid-area: art-h1;
}

/* Image of artwork. */
.art-img {
    grid-area: art-img;
}

/* Description of artwork. */
.art-p {
    grid-area: art-p;
}

/* Fixes columns showing artwork breakpoint.*/
@media only screen and (max-width: 1170px) {
    main {
        grid-template-columns: repeat(1, 1fr);
    }

    div.art {
        margin: 1em 0;
    }
}

/* Fixes breakpoint with layout of text and artwork sections. */
@media only screen and (max-width: 535px) {

    .art h1 {
        white-space: wrap;
        width: 10em;
    }

    div.art {
        display: flex;
        flex-direction: column;
    }
}