main {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
}

div.serra {
    padding: 1.25rem 1.25rem;
    margin: 0 1em 0 0;
    display: grid;
    grid-template-columns: repeat(1, 300px 1fr);
    grid-template-rows: repeat(1, 75px 1fr);
    /* grid-gap: .35%; */
    grid-template-areas:
        "ser-h1 ser-h1"
        "ser-img ser-p";
}

div.kirby {
    padding: 1.25rem 1.25rem;
    margin: 0 1em 0 0;
    display: grid;
    grid-template-columns: repeat(1, 240px 1fr);
    grid-template-rows: repeat(1, 75px 1fr);
    /* grid-gap: .15%; */
    grid-template-areas:
        "kir-h1 kir-h1"
        "kir-img kir-p";
}

img {
    width: 80%;
    float: left;
    padding: 0 .5em 0 0;
}

p {
    float: right;
}

li {
    padding: 1em .5em;
}

.serra {
    /* grid-area: ser; */
    background-color: #f2c986;
    flex-basis: 45%;
}

.serra h1 {
    grid-area: ser-h1;
}

#ser-img {
    grid-area: ser-img;
}

#ser-p {
    grid-area: ser-p;
}

.kirby {
    /* grid-area: kir; */
    background-color: #86f2de;
    flex-basis: 45%;
}

.kirby h1 {
    grid-area: kir-h1;
}

#kir-img {
    grid-area: kir-img;
}

#kir-p {
    grid-area: kir-p;
}

.phr {
    /* grid-area: phr; */
    background-color: #de86f2;
}

#nav_list ul {
    list-style-type: none;
    padding: 1em 0;
    text-align: center;
    border-top: 2px solid #3fa1e2;
    border-bottom: 2px solid #3fa1e2;
}

#nav_list ul li {
    text-align: center;
    display: inline;
    width: 95%;
}

#nav_list ul li:hover {
    background-color: #bed9eb;
}

#nav_list ul li a {
    text-decoration: none;
}

/* Fix columns showing artwork breakpoint*/
@media only screen and (max-width: 924px) {
    main {
        flex-direction: column;
    }
}

@media only screen and (min-width: 620px) {
    #nav_list ul{
        display: flex;
    }
}

/* Fix navigation menu breakpoint */
@media only screen and (max-width: 620px) {
    #nav_list ul li {
        display: block;
    }
}

@media only screen and (max-width: 530px) {

    div.serra {
        grid-template-columns: repeat(0, 300px 1fr);
        grid-template-rows: repeat(2, 75px 1fr);
        /* grid-gap: .35%; */
        grid-template-areas:
            "ser-h1"
            "ser-img"
            "ser-p";
    }

    div.kirby {
        grid-template-columns: repeat(0, 300px 1fr);
        grid-template-rows: repeat(2, 75px 1fr);
        /* grid-gap: .35%; */
        grid-template-areas:
            "kir-h1"
            "kir-img"
            "kir-p";
    }
}