main {
    margin-top: 1em;
    display: grid;
    /* grid-template-rows: repeat(2, 20px 1fr); */
    grid-template-columns: repeat(2, 45% 50%);
    grid-gap: 16px;
    grid-template-areas:
        "ser kir";
}

img {
    width: 50%;
}

p {
    padding: 1em 3em;
}

li {
    padding: 1em .5em;
}

.serra {
    grid-area: ser;
    background-color: #f2c986;
}

.kirby {
    grid-area: kir;
    background-color: #86f2de;
}

#nav_list ul {
    list-style-type: none;
    padding: 1em 0;
    text-align: center;
    border-top: 2px solid #3fa1e2;
    border-bottom: 2px solid #3fa1e2;
}

#nav_list ul li {
    text-align: center;
    display: inline;
    width: 95%;
}

#nav_list ul li:hover {
    background-color: #bed9eb;
}

#nav_list ul li a {
    text-decoration: none;
}

/* Fix navigation menu breakpoint */
@media only screen and (max-width: 655px) {
    #nav_list ul li {
        display: block;
    }
}

/* Fix columns showing artwork breakpoint*/
@media only screen and (max-width: 640px) {
    main {
        column-count: 1;
        text-align: center;
    }
}